[Unit]
Description=run my_backup periodically
OnFailure=my_backup-email-admin@%n.service

[Timer]
OnCalendar=*-*-* 12:00:00
# If you want my_backup to be triggered when the last start time was missed,
# for example, due to the system being powered off, change persistent to true
Persistent=false

[Install]
WantedBy=timers.target
