[Unit]
Description=my_backup
OnFailure=my_backup-email-admin@%n.service

[Service]
Type=oneshot
Environment=HOME=%h
ExecStart=/opt/my_backup/my_backup.sh
